body {
    background-color: rgba(248, 248, 252, 1);
}

.container-news a {
    display: inline-block !important;
}

.container-news {
    clear: both;
    width: 49%;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 1);
    /* padding: 5px 0; */
    border-radius: 1px solid rgb(211, 218, 211);
}

.container-news .title {
    color: #e2af2e;
    font-family: 'Exo2-Bold';
    padding: 5px;
    max-width: 620px;
    font-size: 2rem;
    color: #4831D4;
    background-color: #CCF381;
    text-align: center;
}

.container-news .box-news {
    max-height: 500px;
    max-width: 630px;
    overflow-y: auto;
    border-left: 1px solid #77B43D;
}

.container-news .box-news img {
    float: left;
    padding-right: 0px;
    width: 75px;
    height: 75px;
    margin-right: 20px;
    width: 100%;
}

.container-news .box-news .news {
    display: table-row;
    padding: 0 5px;
}

.container-news .box-news .news .news-details {
    padding: 0 10px;
    max-width: 620px;
    word-wrap: break-word;
    display: flex;
    align-items: flex-start;
}

.container-news .box-news .news .news-details a:nth-child(2) {
    margin-right: 15px;
}

.container-news .box-news .news div p {
    color: black;
}

.container-news .box-news .news div h3 {
    font-size: 0.7rem;
}

.container-news .box-news .news div br {
    font-size: 0.5rem;
    padding-left: 5px;
}

div ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Extra */

.blocks-promo {
    display: none !important;
}

.nav-sections-item-content {
    background-color: #000000 !important;
}

.navigation {
    background-color: #000000 !important;
}

a.level-top {
    color: #f1f1f1 !important;
}

.navigation .level0>.level-top {
    font-size: 13px !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-weight: 500 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    letter-spacing: 2px !important;
    opacity: 1 !important;
}

.navigation .level0>.level-top:hover::before {
    visibility: visible !important;
    background-color: #f1bc31 !important;
    -webkit-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    transform: scaleX(1) !important;
}

.navigation .level0>.level-top::before {
    content: "" !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #f1bc31 !important;
    visibility: hidden !important;
    -webkit-transform: scaleX(0) !important;
    -ms-transform: scaleX(0) !important;
    transform: scaleX(0) !important;
    -webkit-transition: all 0.2s ease-in-out 0s !important;
    -o-transition: all 0.2s ease-in-out 0s !important;
    transition: all 0.2s ease-in-out 0s !important;
    z-index: -1 !important;
}

.navigation .level0 .submenu {
    background-color: #000000 !important;
    border: 1px solid #000000 !important;
}

.navigation .level0 .submenu a {
    color: #fff !important;
    font-size: 13px !important;
    text-transform: uppercase;
    background-color: #000000 !important;
}

.navigation .level0 .submenu a:hover {
    background-color: #f1bc31 !important;
}

.top-container {
    display: flex;
    flex-wrap: wrap;
}